@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: #c4c4c4;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-background{background-color: #1f5f8d;}
.list-data{display: flex; gap: 12px;}
.main-list{background-color: #fdb557;}
.searchFilterBox{width: 100%; padding: 33px;}
.searchInput{padding: 10px; padding-inline-start: 44px; border-radius: 8px; border: 1px solid #c4c4c4; font-size: 18px; color: #c4c4c4;}
.searchItem{position: relative;}
.selectSort{padding: 12px; border: 1px solid #c4c4c4; border-radius: 8px;}
.searchItem span{position: absolute; top: 11px; left: 11px; color: #c4c4c4;}
.colorActive{color: #1f5f8d;}
.colorNonActive{color: #c4c4c4}
.lucide-arrow-up-down{color: #1f5f8d}
.boderRdius{border-radius: 12px; box-shadow: 1px 3px 16px 8px #f7f7f7;}
.filterData{display: flex; justify-content: space-between; align-items: baseline; margin: 15px 0;}
.accordionLabel{background: #e9eff4; border: 1px solid #d5e1ea; padding: 12px; border-radius: 4px;}
.filterData > h2{text-transform: uppercase; letter-spacing: 1px; color: #1f5f8d; font-size: 14px;}
.filterData > button{color: #c9a77a; font-weight: 500; text-transform: uppercase; cursor: pointer;}
.dataBox{border-radius: 12px; padding: 23px; box-shadow: 1px 3px 16px 8px #f7f7f7;}
.dataBox > h2, .dataBox > p{margin-bottom: 12px;}
.tagList{background-color: #84dccf; border: 1px solid #5c9a91; padding: 3px 9px; border-radius: 6px; text-align: center;}
._with_data{display: flex; gap: 10px; flex-wrap: wrap; align-items: center;}
._with_data .title{color:#747476; font-size: 14px;}
.gridData{max-width: 600px;}
._with_data .imgSRc{border-radius: 50%; border: 1px solid #c4c4c4; width: 30px; height: 30px;}
._with_data2 .iconYellow{color:#b17f3d}
._with_data2{display: flex; gap: 5px; align-items: center;}
.imgSRc2{border-radius: 50%; border: 1px solid #c4c4c4; width: 20px; height: 20px;}
.iconYellow2{color:#b17f3d}
.imgSRc3{background-color: #84dccf; height: 35px; width: 35px; border-radius: 50%; padding: 8px; object-fit: cover;}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pagination{background-color: #fff; gap:28px; box-shadow: 1px 2px 8px 5px #f7f7f7; padding: 10px 36px; border-radius: 12px;}
.paginationBtn{border: none; color: #3b739b;}

@media screen and (max-width:500px) {
  .pagination{flex-direction:column; gap: 15px; align-items: end;}
  .gridData{gap: 20px;}
}